@model EntityLayer.Lesson;
@{
    Layout = null;
}
<h1>Ders Ekle</h1>
<form asp-action="LessonUpdate" asp-controller="Lesson" method="post">
    <div class="mb-3" style="display:none">
        <label class="form-label">DERS ID</label>
        <input readonly asp-for="lesson_ID" type="text" class="form-control">

    </div>
    <div class="mb-3">
        <label class="form-label">DERS ADI</label>
        <input asp-for="lesson_Name" type="text" class="form-control">

    </div>
    <button type="submit" class="btn btn-primary">DERS EKLE</button>
</form>
